.skin-blue .main-header .navbar{
    background: #242f42;
    border: solid 1px black;
}
#suffix-title{
    padding: 0;
}
.skin-blue .main-sidebar{
    background: rgb(50, 65, 87);
    border: solid 1px black;
    
}
.category-title i{
    font-size: 24px;
}
a.sidebar-toggle{
    /* background: #293546; */
    background: #1b8cec;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
    background: rgb(40,52,70);
}
.sidebar-menu li.active > .treeview-menu{
    background: #355;
}
.skin-blue .treeview-menu li > a{
    border:none;
    height: 40px;
    padding-top: 10px;
}
.skin-blue .sidebar-menu > li > .treeview-menu{
    background: #18293a;
}
.sidebar-menu .treeview-menu>li{
    /*border-bottom: 1px solid #355*/
}
.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover{

}
.skin-blue .treeview-menu li > a:hover, .skin-blue .treeview-menu li.active > a{
    background: rgba(37,146,252,0.3);
}
.box.box-default{
    border-color: #949698;
    border-radius: 0;
    padding-top: 0;
}
#charts-list .chart{
    /*border: 1px solid #388;*/
    box-shadow:0px 5px 11px 2px rgba(0, 0, 0, 0.15);
    margin:10px auto;
}

#showCodeBtn{
    background: #1e67af;
}
.editorBtn{
    color: #dfe1e4;
}
.icon-class{

    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    color: #dfe8f9;
}